$text-color-jumbo: #7870ec;

.movieinfo {
	.color-jumbo {
		color: $text-color-jumbo !important;
		position: relative;
	}
}

.filter-bar{
    position: fixed;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0,0,0,.1);
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    overflow-y: auto;
}