.Logo{
    background-color: white;
    padding: 3px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.LogoParent{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 80%;
}

.LogoChild{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.LogoChild a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.568);
    padding: 10px 10px;
    margin-left: 10px;
    font-family: cursive;
    -webkit-text-fill-color: #ed000033;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: x-large;
}

.Logo img{
    height: 100%;
}