// .genrelist{
// //   height: 90%;
// //   width: 200px;
// //   position: fixed;
// //   z-index: 1;
// //   top: 0;
// //   left: 0;
// //   background-color: rgb(255, 255, 255);
// //   padding-top: 200px;
// // overflow-y: visible;

// }
.genrelist h4 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #7870ec;
    display: block;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
  }

.genrelist h5 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #7870ec;
    display: block;
    text-align: center;
    justify-content: center;
    border-top: 1px solid black;
    margin-right: 20px;
    margin-top: 2px;
    cursor: pointer;
  }

.genrelist li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #00000073;
    display: block;
    cursor: pointer;
  }
  
  .genrelist li:hover {
    color: #000000;
  }